- permissions = permissions_on_table
- count = permissions.count
- if count == 0 && @search.blank?
  %p
    There are no permissions held by foreign roles on this resource.
- elsif count == :forbidden
  %p.forbidden
    You do not have permission to view the permissions held by foreign roles on this resource..

- if count.is_a?(Integer) && count > 0
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Role
        %th Privileges
        %th Resource
    %tbody
      - permissions.each do |permission|
        %tr
          %td
            = link_to_object permission.role
          %td
            - if permission.owner
              %strong owner
            - else
              = permission.privileges.sort.join(', ')
          %td
            = link_to_object permission.resource

  - obtained = @requested || permissions.size
  - if obtained < count
    .text-center
      = link_to(list_privileges_path(role: @conjur_role.roleid, limit: permissions.size + 10, search: @search), remote: true) do
        %button.btn.btn-default
          Show More
