!!!
%html
  %head
    %title Conjur UI
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %script{:type => "application/javascript"}
      var auth_payload = #{raw(auth_payload.to_json)};
      auth_payload.token = btoa(JSON.stringify(auth_payload.token));
      auth_payload.applianceProxyUrl = window.location.origin || "https://"+window.location.host;
      localStorage.setItem('conjur',JSON.stringify(auth_payload));
      delete auth_payload;
    %script{:src => "/static/legacy/assets/pace.js"}
    = stylesheet_link_tag 'webpack-bundle'
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    %script{:src => "/static/legacy/assets/vendor.bundle.js"}
    %script{:src => "/static/legacy/assets/app.js"}
  %body
    #wrapper
