%aside.main-sidebar
  %aside.main-sidebar
    %section.sidebar
      %form.sidebar-form{:name => "search", :class => "search", :method => :get, :action => search_path}
        .input-group
          %input.form-control{:name => :query, :placeholder => "Search Conjur", :type => "text"}
          %span.input-group-btn
            %button.btn.btn-flat{:class => "search", :type => "submit"}
              %i.icon-search
      %ul.sidebar-menu

        - @navigation_menu.each do |menu_item|
          %li{class: active_class(menu_item[:path])}
            - if menu_item.key?(:html)
              = raw menu_item[:html]
            - else
              = link_to(menu_item[:path]) do
                %i{:class => "icon-#{menu_item[:icon]}"}
                %span
                %span= menu_item[:title]
