.col-xs-12
  .box.box-info
    .box-header
      %h3.box-title 
        %a{href: edit_ldap_connection_details_path, id: 'connection-details-complete'} 1. LDAP Connection Test (successful)
    %form.form-horizontal
      .box-body
