#ldap-sync
  %section.content-header
    %h1 LDAP Sync
  %section.content
    %div
      .row
        = render partial: 'connection_details_complete'
      .row
        .col-lg-6
          = render partial: 'selected_users_form'
          = render partial: 'ldap/saved_users/saved_users_form'
        = render partial: 'selected_users'
