- count, audit_events = audit_updates_table
- if count == 0
  %p
    There are no updates available
- elsif count == :forbidden
  %p.forbidden
    You do not have permission to view the update events of this role.

- if count.is_a?(Integer) && count > 0

  = render partial: "audit_table", object: audit_events

  - obtained = @requested || audit_events.size
  - if obtained < count
    .text-center
      = audit_events_paginate("audit_updates", @conjur_object, audit_events.size + 10) do
        %button.btn.btn-default
          Show More
